
.creation-form-root {
  background-color: rgb(244, 246, 248);
  padding-top: 70px;
  height: 100vh;
}

.form {
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.container-row-form {
  
}