.lateral-menu {
  width: 220px;
  position: fixed;
  padding: 64px 0 0 0;
  height: calc(100vh - 64px);
  overflow-y: auto; }

.lateral-menu::-webkit-scrollbar {
  width: 5px; }

.lateral-menu::-webkit-scrollbar-track {
  border-radius: 5px; }

.lateral-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  outline: 1px solid slategrey; }

.list-item {
  margin: 0;
  padding: 0; }

.icon-list-item {
  color: #550a46; }

.presentation-card {
  width: 220px; }
