
.lateral-menu {
  width: 220px;
  position: fixed;
  padding: 64px 0 0 0;
  height: calc(100vh - 64px);
}


.list-item {
  margin: 0;
  padding: 0;
}

.icon-list-item {
  color: #550a46;
}

.presentation-card {
  width: 220px;
  padding-top: 100px;
}

