.overview-root {
  padding-top: 64px; }

.background-overview {
  background-color: #f4f6f8;
  height: 100vh; }

.item-grid {
  padding: 20px 0; }

.banner-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 4% 5% 0 0; }

.letters-button {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; }

.name-enterprise {
  font-size: 25px;
  font-weight: 700; }
